@model List<Entities.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ProductName</th>
            <th>SupplierId</th>
            <th>UnitPrice</th>
            <th>Package</th>
            <th>IsDiscontinued</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ProductName</td>
                    <td>@item.SupplierId</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.Package</td>
                    <td>@item.IsDiscontinued</td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No Products available.</td>
            </tr>
        }
    </tbody>
</table>

