@model Entities.Models.Supplier

@{
    ViewData["Title"] = "Supplier Details";
}

<h1>Supplier Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Company Name
        </dt>
        <dd class="col-sm-10">
            @Model.CompanyName
        </dd>
        <dt class="col-sm-2">
            Contact Name
        </dt>
        <dd class="col-sm-10">
            @Model.ContactName
        </dd>
        <dt class="col-sm-2">
            Contact Title
        </dt>
        <dd class="col-sm-10">
            @Model.ContactTitle
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            Country
        </dt>
        <dd class="col-sm-10">
            @Model.Country
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
        <dt class="col-sm-2">
            Fax
        </dt>
        <dd class="col-sm-10">
            @Model.Fax
        </dd>
    </dl>
</div>
<form asp-controller="Supplier" asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id">
    <button type="submit" class="btn btn-danger  mt-4"><i class="fas fa-trash-alt"></i> Delete </button>
    <a asp-action="Index" class="btn btn-secondary  mt-4"><i class="fas fa-arrow-left"></i> Back to list </a>

</form>