@model List<Entities.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Supplier List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary  mt-4"><i class="fas fa-plus"></i> &nbsp; Supplier </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CompanyName</th>
            <th>ContactName</th>
            <th>ContactTitle</th>
            <th>City</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Fax</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td>@item.Fax</td>
                    <td>
                        <a asp-controller="Suppliers" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-controller="Suppliers" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a asp-controller="Suppliers" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No suppliers available.</td>
            </tr>
        }
    </tbody>
</table>