@model List<Entities.Models.Customer>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> &nbsp; Create Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().City)</th>
            <th>@Html.DisplayNameFor(model => model.First().Country)</th>
            <th>@Html.DisplayNameFor(model => model.First().Phone)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.City</td>
                    <td>@item.Country</td>
                    <td>@item.Phone</td>
                    <td>
                        <a asp-controller="Customers" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" aria-label="Edit Customer">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-controller="Customers" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info  btn-sm" aria-label="View Details">
                            <i class="fas fa-eye"></i> 
                        </a>
                        <a asp-controller="Customers" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" aria-label="Delete Customer">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">No customers available.</td>
            </tr>
        }
    </tbody>
</table>